/* style.css */
body {
  font-family: sans-serif;
  background-color: #111;
  color: #eee;
  padding: 20px;
}


button {
  padding: 10px 20px;
  cursor: pointer;
}

#distance {
  font-weight: bold;
  color: #0f0;
}


